@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;   /* hitam hidup */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background-color: var(--background);

  /* tekstur grain super halus */
  background-image:
    radial-gradient(rgba(255,255,255,0.035) 1px, transparent 1px);
  background-size: 26px 26px;
}

/* animasi putar halus */
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
